.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/gallery/desktop/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 480px) {
    background-image: url(../images/gallery/mobile/hero/hero.jpg);
  }
  @media screen and (max-width: 768px) {
    background-image: url(../images/gallery/tablet/hero/hero.jpg);
  }
  @media screen and (max-width: 1199.98px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.titel__btn {
  color: var(--alt-tittle-cl);
  background-color: var(--button-bg);
  padding: 10px 32px 10px 32px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
