.address__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.address__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.address__link {
  font-style: inherit;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);

  @media screen and (min-width: 768px) {
    display: inline-flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.address__icon {
  fill: currentColor;

  margin-right: 10px;
}
