.label {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: var(--tittle-cl);
  }
  
  .label-second {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
  }