.title {
  letter-spacing: 0.06em;
  color: #212121;
  color: var(--alt-tittle-cl);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.76;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
