@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway-v19-latin-700.eot");
    src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
      url("../fonts/raleway-v19-latin-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }