:root {
    --main-text-cl: #212121;
    --tittle-cl: #2196f3;
    --alt-text-cl: #757575;
    --alt-tittle-cl: #ffffff;
    --footer-text: rgba(255, 255, 255, 0.6);
    --icons-color: #afb1b8;
  
    --footer-bg: #2f303a;
    --second-bg: #f5f4fa;
    --button-bg: #2196f3;
    --card-bg: #ffffff;
    --card-border-bg: #eeeeee;
  
    --main-font: "Roboto", sans-serif;
    --tittle-font: "Raleway", sans-serif;
  }